<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.AmountMapper">
  <resultMap id="BaseResultMap" type="com.ycb.entity.Amount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="ken" jdbcType="VARCHAR" property="ken" />
    <result column="dlen" jdbcType="VARCHAR" property="dlen" />
  </resultMap>
  <sql id="Base_Column_List">
    id, money, uid, ken, dlen
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ycb.entity.Amount">
    insert into account (id, money, uid, 
      ken, dlen)
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, 
      #{ken,jdbcType=VARCHAR}, #{dlen,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ycb.entity.Amount">
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="ken != null">
        ken,
      </if>
      <if test="dlen != null">
        dlen,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="ken != null">
        #{ken,jdbcType=VARCHAR},
      </if>
      <if test="dlen != null">
        #{dlen,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycb.entity.Amount">
    update account
    <set>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="ken != null">
        ken = #{ken,jdbcType=VARCHAR},
      </if>
      <if test="dlen != null">
        dlen = #{dlen,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycb.entity.Amount">
    update account
    set money = #{money,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      ken = #{ken,jdbcType=VARCHAR},
      dlen = #{dlen,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>