<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.AreaMapper">
	<resultMap id="BaseResultMap" type="com.ycb.entity.Area">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from area
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from area
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ycb.entity.Area">
		insert into area (id, name)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ycb.entity.Area">
		insert into area
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ycb.entity.Area">
		update area
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ycb.entity.Area">
		update area
		set name = #{name,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>


	<select id="selectCount" parameterType="com.ycb.util.PageUtil"
		resultType="Integer">
		select count(1) FROM area
	</select>

	<select id="selectAreaList" parameterType="com.ycb.util.PageUtil"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from area
		limit #{start} , #{pageSize}
	</select>
	<delete id="deleteAreaArr" parameterType="java.util.ArrayList">
		delete from area where id
		<foreach collection="list" close=")" open=" in (" separator=","
			item="id" index="i">
			#{id}
		</foreach>
	</delete>
	<select id="selectArea" resultMap="BaseResultMap">
		select * FROM area
	</select>
</mapper>