<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.DicMapper">
  <resultMap id="BaseResultMap" type="com.ycb.entity.Dic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
    <result column="expires_in" jdbcType="VARCHAR" property="expiresIn" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="ticket" jdbcType="VARCHAR" property="ticket" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appid, secret, expires_in, access_token, ticket, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ycb.entity.Dic">
    insert into dic (id, appid, secret, 
      expires_in, access_token, ticket, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}, 
      #{expiresIn,jdbcType=VARCHAR}, #{accessToken,jdbcType=VARCHAR}, #{ticket,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ycb.entity.Dic">
    insert into dic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="secret != null">
        secret,
      </if>
      <if test="expiresIn != null">
        expires_in,
      </if>
      <if test="accessToken != null">
        access_token,
      </if>
      <if test="ticket != null">
        ticket,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        #{expiresIn,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null">
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycb.entity.Dic">
    update dic
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        secret = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        expires_in = #{expiresIn,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="ticket != null">
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycb.entity.Dic">
    update dic
    set appid = #{appid,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=VARCHAR},
      access_token = #{accessToken,jdbcType=VARCHAR},
      ticket = #{ticket,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>