<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dao.MachineMapper" >
  <resultMap id="BaseResultMap" type="org.pojo.Machine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="mid" property="mid" jdbcType="VARCHAR" />
    <result column="isUse" property="isuse" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="aplces" property="aplces" jdbcType="VARCHAR" />
    <result column="laplces" property="laplces" jdbcType="VARCHAR" />
    <result column="rplces" property="rplces" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, adress, mid, isUse, price, aplces, laplces, rplces, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from machine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from machine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.pojo.Machine" >
    insert into machine (id, name, adress, 
      mid, isUse, price, 
      aplces, laplces, rplces, 
      createTime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{adress,jdbcType=VARCHAR}, 
      #{mid,jdbcType=VARCHAR}, #{isuse,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{aplces,jdbcType=VARCHAR}, #{laplces,jdbcType=VARCHAR}, #{rplces,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.pojo.Machine" >
    insert into machine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="adress != null" >
        adress,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="isuse != null" >
        isUse,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="aplces != null" >
        aplces,
      </if>
      <if test="laplces != null" >
        laplces,
      </if>
      <if test="rplces != null" >
        rplces,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null" >
        #{isuse,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="aplces != null" >
        #{aplces,jdbcType=VARCHAR},
      </if>
      <if test="laplces != null" >
        #{laplces,jdbcType=VARCHAR},
      </if>
      <if test="rplces != null" >
        #{rplces,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.pojo.Machine" >
    update machine
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        mid = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null" >
        isUse = #{isuse,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="aplces != null" >
        aplces = #{aplces,jdbcType=VARCHAR},
      </if>
      <if test="laplces != null" >
        laplces = #{laplces,jdbcType=VARCHAR},
      </if>
      <if test="rplces != null" >
        rplces = #{rplces,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.pojo.Machine" >
    update machine
    set name = #{name,jdbcType=VARCHAR},
      adress = #{adress,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=VARCHAR},
      isUse = #{isuse,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      aplces = #{aplces,jdbcType=VARCHAR},
      laplces = #{laplces,jdbcType=VARCHAR},
      rplces = #{rplces,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCount" parameterType="com.ycb.util.PageUtil" resultType="Integer">
    select count(1) FROM machine
    <where>
      <if test="whereMap!=null and whereMap.title!=null and whereMap.title!=''">
        and title like '%${whereMap.title}%'
      </if>
      <if test="whereMap !=null and whereMap.minPrice = null and whereMap.minPrice!=''">
        and PRICE &gt; whereMap.minPrice
      </if>
      <if test="whereMap !=null and whereMap.maxPrice = null and whereMap.maxPrice!=''">
        and PRICE &lt; whereMap.maxPrice
      </if>
    </where>
  </select>


  <select id="selectMachineList" parameterType="com.ycb.util.PageUtil" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from machine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageNumber != null and pageSize >= 0">
      limit #{pageNumber} , #{pageSize}
    </if>
  </select>


</mapper>