<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.SysRoleMapper">

	<!-- 结果集 -->
	<resultMap type="com.ycb.entity.SysRole" id="resultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="iconCls" column="iconCls" />
		<result property="seq" column="seq" />
		<result property="updatedatetime" column="updatedatetime" />
		<result property="createdatetime" column="createdatetime" />
	</resultMap>


	<!-- 字段 -->
	<sql id="column_sql">
		id,name,description,iconCls,seq,updatedatetime,createdatetime
	</sql>

	<!-- 拼接查询条件 -->
	<sql id="whereSql">
		where 1=1  
<!-- 		<if test="whereMap.roleName !=null"> -->
<!-- 					and		name like '%$whereMap.roleName$%' -->
<!-- 		</if> -->
	</sql>


	<!--分页条件查询角色 的条数 -->
	<select id="selectRoleListCount" resultType="java.lang.Integer"
		parameterType="com.ycb.util.PageUtil">
		select count(1) from
		t_sysrole_info
		<include refid="whereSql" />
	</select>



	<!-- 分页条件查询角色 的list集合 -->
	<select id="selectRoleListPage" resultMap="resultMap"
		parameterType="com.ycb.util.PageUtil">
		select
		<include refid="column_sql" />
		from
		t_sysrole_info
		<include refid="whereSql" />
		limit #{start},#{pageSize}
	</select>



	<!--查询角色id,角色名称 -->
	<select id="selectRoleList" resultMap="resultMap">
		select
		<include refid="column_sql" />
		from
		t_sysrole_info
	</select>

</mapper>