<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.SysRoleResourceMapper">

 	<!-- 结果集 -->
 	<resultMap  type="com.ycb.entity.SysRoleResource" id="resultMap">
 		<result property="sysResourceId" column="sysresource_id"/>
 		<result property="sysRoleId" column="sysrole_id"/>
 	</resultMap>
 	
 	<!-- 字段 -->
 	<sql id="column_sql">
 		sysresource_id , sysrole_id
 	</sql>
 	
 	
 	<!--批量新增   角色权限资源信息  -->
 	<insert id="insertRoleResourceList" parameterType="java.util.ArrayList">
 		insert into t_sysrole_sysresource_info  (<include refid="column_sql"/>) 
 		values
 			<foreach collection="roleResourceList" item="item" open="(" close=")" separator=",">
 				#{item.sysResourceId},#{item.sysRoleId}
 			</foreach> 
 	</insert>
 		
 	<!-- 根据角色id删除 角色权限资源信息 -->
 	<delete id="deleteRoleResourceByRoleId" parameterType="java.lang.String" >
 		delete from t_sysrole_sysresource_info where sysrole_id = #sysRoleId#
 	</delete>
 	 	
 	<!-- 根据角色id 查询角色资源权限信息 -->
 	<select id="getResourceByRoleId" resultMap="resultMap" parameterType="com.ycb.entity.SysRole">
 		select <include refid="column_sql"/>
		from t_sysrole_sysresource_info 	where sysrole_id = #id#
 	</select>
 	

</mapper>