<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.SysResourceMapper">

	<!-- 结果集 -->
	<resultMap id="resultMap" type="com.ycb.entity.SysResource">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="url" column="url" />
		<result property="description" column="description" />
		<result property="iconCls" column="iconCls" />
		<result property="seq" column="seq" />
		<result property="updatedatetime" column="updatedatetime" />
		<result property="createdatetime" column="createdatetime" />
		<result property="resourcetypeId" column="resourcetypeId" />
		<result property="pid" column="pid" />
		<result property="leafNode" column="p" />
	</resultMap>

	<!-- 字段 -->
	<sql id="column_sql">
		id,name,url,description,iconCls,seq,updatedatetime,createdatetime,pid,resourcetypeId,p
	</sql>


	<!-- 字段 -->
	<sql id="search_sql">
		t4.id,t4.name,t4.url,t4.iconCls,t4.seq,t4.pid
	</sql>

	<!-- 结果集 -->
	<resultMap type="com.ycb.entity.SysResource" id="resultMap2">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="url" column="url" />
		<result property="iconCls" column="iconCls" />
		<result property="seq" column="seq" />
		<result property="pid" column="pid" />
	</resultMap>

	<!--查询 resourceList集合 -->
	<select id="selectResourceList" resultMap="resultMap"
		parameterType="com.ycb.entity.SysResource">
		select
		<include refid="column_sql" />
		from
		t_sysresource_info where 1=1 and
		<if test="pid !=null">
			and pid = #{pid}
		</if>
		pid is null
	</select>

	<!-- 根据用户id查询拥有的 左侧菜单 tree resourcetypeId为0 -->
	<select id="selectResourceByUserId" resultMap="resultMap2"
		parameterType="java.lang.String">
		select
		<include refid="search_sql" />
		from
		t_sysuser_info t1
		join t_sysuser_sysrole_info t2
		on t1.sysuser_id = t2.sysuser_id
		join t_sysrole_sysresource_info t3
		on t2.sysrole_id = t3.sysrole_id
		join t_sysresource_info t4
		on t3.sysresource_id = t4.id
		where t1.sysuser_id = #userId#
	</select>



	<!-- 根据用户id查询拥有的 左侧菜单 tree resourcetypeId为0 -->
	<select id="selectMainMenu" resultMap="resultMap2"
		parameterType="com.ycb.entity.SysResource">
		select
		<include refid="search_sql" />
		from
		t_sys_user t1
		join t_sysuser_sysrole_info t2
		on t1.sysuser_id = t2.sysuser_id
		join t_sysrole_sysresource_info t3
		on t2.sysrole_id = t3.sysrole_id
		join t_sysresource_info t4
		on t3.sysresource_id = t4.id
		where t1.sysuser_id = #userId#
		and t4.resourcetypeId = #resourceTypeId#
	</select>



	<!-- 查询菜单url资源 tree -->
	<select id="queryById" resultMap="resultMap2" parameterType="com.ycb.entity.SysResource">
		select
		<include refid="column_sql" />
		from t_sysresource_info where 1=1 and
		<if test="pid !=null">
			and id = #{id}
		</if>
	</select>



	<!-- 查询菜单url资源 tree -->
	<select id="selectResourceTree" resultMap="resultMap"
		parameterType="com.ycb.entity.SysResource">
		select
		<include refid="column_sql" />
		from t_sysresource_info where 1=1 and 
		<if test="resourcetypeId !=null">
			resourcetypeId = #{resourcetypeId};
		</if>
	</select>


</mapper>