<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.SyStemMapper">
	<resultMap id="BaseResultMap" type="com.ycb.entity.SysUser">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="birthday" jdbcType="VARCHAR" property="birthday" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="zone" jdbcType="VARCHAR" property="zone" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, phone, password, sex, birthday, province, city,
		zone
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>


	<!-- 根据loginName查询user用户 -->
	<select id="selectSysUserByloginName" resultType="com.ycb.entity.SysUser"
		parameterType="java.lang.String">
		select * from sys_user where
		loginname =#{loginname}
	</select>

	<insert id="insertSysUser" parameterType="com.ycb.entity.SysUser">
		insert into
		t_sysuser_info (sysuser_id,sysuser_loginname,sysuser_pwd )
		values ( #id#,#loginname#,#pwd#)
	</insert>

</mapper>