<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.SysUserMapper">
 	<!-- 结果集 -->
 	<resultMap  type="com.ycb.entity.SysUser" id="resultMap">
 		<result property="id" column="sysuser_id"/>
 		<result property="name" column="sysuser_name"/>
 		<result property="loginname" column="sysuser_loginname"/>
 		<result property="pwd" column="sysuser_pwd"/>
 		<result property="sex" column="sysuser_sex"/>
 		<result property="age" column="sysuser_age"/>
 		<result property="photo" column="sysuser_photo"/>
 		<result property="updatedatetime" column="sysuser_updatedatetime"/>
 		<result property="createdatetime" column="sysuser_createdatetime"/>
 	</resultMap>
 	
 	<!-- 字段 -->
 	<sql id="column_sql">
 		sysuser_id,sysuser_name,sysuser_loginname,sysuser_pwd,sysuser_sex,
 		sysuser_age,sysuser_photo,sysuser_updatedatetime,sysuser_createdatetime
 	</sql>
 	
 	
 	
 	<select id="selectUserCount" resultType="java.lang.Integer" >
 		select count(1) from t_sysuser_info
 	</select>
 	
 	<select id="selectUserList" resultMap="resultMap" parameterType="com.ycb.util.PageUtil"  >
		select  <include refid="column_sql"/>
		from t_sysuser_info limit #{start},#{pageSize}
	</select>
 	
 	
 	
 	<update id="updateUserPwdById" parameterType="com.ycb.entity.business.UserPwd">
 		update t_sysuser_info 
 		set sysuser_updatedatetime = #updatePwdTime# ,
 		sysuser_pwd = #newPwd#
 		where sysuser_id = #userId#
 	</update>
	
	<!-- 根据id查询用户 -->
	<select id="selectUserById" resultMap="resultMap" parameterType="java.lang.String">
		select  <include refid="column_sql"/>
		from t_sysuser_info
		where sysuser_id = #userId#
	</select>
	
	
	
	<!-- 根据loginName查询user用户 -->
	<select id="selectSysUserByloginName" resultMap="resultMap" parameterType="com.ycb.entity.SysUser"> 
		select  <include refid="column_sql"/>
		from t_sysuser_info where 1=1  and
		sysuser_loginname = #{loginname}
		
	</select>
	
	<!-- 注册新增用户 -->
	<insert id="insertSysUser" parameterType="com.ycb.entity.SysUser">
		insert into
		 t_sysuser_info (sysuser_id,sysuser_loginname,sysuser_pwd  )
		 values (  #{id},#{loginname},#{pwd})
	</insert>
	
	

</mapper>