<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycb.dao.TotalAmountMapper">
  <resultMap id="BaseResultMap" type="com.ycb.entity.TotalAmount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="leftmoney" jdbcType="INTEGER" property="leftmoney" />
    <result column="txmoney" jdbcType="INTEGER" property="txmoney" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, money, openid, leftmoney, txmoney, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from total_amount
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from total_amount
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ycb.entity.TotalAmount">
    insert into total_amount (id, money, openid, 
      leftmoney, txmoney, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, 
      #{leftmoney,jdbcType=INTEGER}, #{txmoney,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ycb.entity.TotalAmount">
    insert into total_amount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="leftmoney != null">
        leftmoney,
      </if>
      <if test="txmoney != null">
        txmoney,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="leftmoney != null">
        #{leftmoney,jdbcType=INTEGER},
      </if>
      <if test="txmoney != null">
        #{txmoney,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycb.entity.TotalAmount">
    update total_amount
    <set>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="leftmoney != null">
        leftmoney = #{leftmoney,jdbcType=INTEGER},
      </if>
      <if test="txmoney != null">
        txmoney = #{txmoney,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycb.entity.TotalAmount">
    update total_amount
    set money = #{money,jdbcType=INTEGER},
      openid = #{openid,jdbcType=VARCHAR},
      leftmoney = #{leftmoney,jdbcType=INTEGER},
      txmoney = #{txmoney,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAmonut"  resultMap="BaseResultMap" parameterType="java.lang.String">
 	 select   * from total_amount t where openid = #{openid}
  </select>
</mapper>